<div style="border-color: red; border-style: solid; padding: 20px">
    <ul class="help--slides-items">
        {% for institution in institutions %}
            <li>
                <div class="col">
                    <div class="title"><b>{{ institution.name }}</b></div>
                </div>
                <div class="col">
                    <div class="title"><div class="italic">"{{ institution.description }}</div></div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>